body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
    "h h"
    "n c"
  
  ;
}

.header {
  grid-area: h;
  background-color: rgb(51, 156, 30);
}
.header img {
  max-width: 100%;
}

.nav {
  grid-area: n;
  background-color: rgb(204, 193, 43);
}

.content {
  grid-area: c;
  background-color: rgb(167, 174, 180);
}
.content img{
 max-width: 100%;
 height: auto;
}